body {
  margin: 0;
  background-color: #f2f2f2;
}

.header {
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;

}
nav {
  padding: 5px;
  border: 1px solid black;
}

.perusopinnot {
  border: 2px solid black;
}

.ydinopinnot {
  border: 2px solid black;
}

.valinnaiset {
  border: 2px solid black;
}

.courseCart {
  float: right;;
}

.courses {
  font-size: 12px;
  overflow: scroll;
  /*height: 540px;*/
}
.add-to-cart {
  font-size: 15px;
}
.table {
  height: 530px;
  border: 1px solid black;
  overflow: scroll;
  width: 100%;
}
#tableName{
  width: 100%;
}
#table {
  width: 100%;
}

.submit {
  width: auto;
  float:left;
  align
}
