body {
  margin: 0;
}

.header {
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;

}

.perusopinnot {
background-color: lightgrey;
}

.pakolliset {
}

.valinnaiset {
}
